/* h1{
  text-align: center;
  text-shadow: 1ch;
  text-decoration: burlywood;
  background-color: aquamarine;
}
a{
  text-decoration: none;
  background-color: aliceblue;
  position:relative;
  
}
nav{
  justify-content: right;
  background-color: aliceblue;
}
p{
  margin-top: 56%;
  margin-bottom: 56%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: calc(56,25,25,25);
  font-size: medium;
}
h3{
  text-align: center;
  text-shadow: 1ch;
  text-decoration: burlywood;
  top: 20px;
}
h2{
  background-color: aliceblue;
  text-align: center;
  top: 20px;

}
form{
  background-color: aliceblue;
  
}
#register{
  justify-content: right;
} */
